<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MusicApp</title>
  </head>
  <body>
    <h1>Welcome to MusicApp!</h1>
    <p>Please click the link below to activate your account:</p>
    <a><%= users_activate_url %>?activation_token=<%= @user.activation_token %></a>
  </body>
</html>