<h1>Bands</h1>

<ul class="bands-container">
  <% @bands.each do |band| %>
    <a href="<%= band_url(band) %>">
      <li class="feature-container">
        <h2><%= band.name %></h2>
      </a>
    </a>
  <% end %>
</ul>

<div class="button"><a href="<%= new_band_url %>">New Band</a></div>