/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, header, form, input, div, p, a, ul, ol, li, h1, h2, h3, input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, .button {
 font-family: 'Indie Flower', cursive;
 background-color: indigo;
 color: aquamarine;
}

div.main {
  width: 700px;
  margin: 0 auto;
}

div.content {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: inherit;
}

/* Header styling */

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(41, 38, 38);
  border-bottom: 3px solid aquamarine;
}

header h1 {
  padding: 10px;
}

header .user-auth-buttons {
  list-style: none;
  height: 40px;
}

ul.user-auth-buttons > li {
  display: inline-block;
}

ul.user-auth-buttons > li > a {
  padding-left: 7px;
  padding-right: 7px;
}

ul.user-auth-buttons {
  margin-right: 20px;
  margin-top: 15px;
}

/* End header styling */

/* Form elements styling */

input.button {
  padding-left: 10px;
  padding-right: 10px;
}

input[type=text] {
  border: 3px solid aquamarine;
  border-radius: 5px;
}

/* End form elements styling */

.button {
  background-color: aquamarine;
  color: indigo;
  border-radius: 5px;
  font-size: 18px;
  border: 3px solid aquamarine;
  display: inline-block;
  padding: 0 10px;
}

.button:hover {
  cursor: pointer;
  color: teal;
}

a {
  text-decoration: none;
}

.margin-centered {
  display: block;
  margin: 20px auto;
}

/* Band div styling */

li.feature-container {
  width: 150px;
  height: 70px;
  border: 3px solid aquamarine;
  border-radius: 5px;
  margin: 10px;
  background-color:rgb(41, 38, 38);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul.bands-container {
  margin: 20px;
}

.alert {
  color: orange;
}

.notice {
  color: lime;
}

.note {
  text-align: center;
}

.note > .email {
  color:rgb(218, 80, 114);
}

.underline {
  text-decoration: underline;
}